imageCredentials:
  create: false # change to true if deploying enforcer on new cluster or aqua-registry-secret secret doesn't exist.
  name: # use it to overwrite the default secret name
  repositoryUriPrefix: "registry.aquasec.com" # for dockerhub - "docker.io"
  registry: "registry.aquasec.com" #REQUIRED only if create is true, for dockerhub - "index.docker.io/v1/"
  username: ""
  password: ""

serviceAccount:
  create: false # change to true if deploying enforcer on new cluster or aqua-sa serviceAccount doesn't exist.
  name: # use it to overwrite the default serviceAccount name

clusterRole:
  roleRef: ""

#Please specify k8s platform acronym. Allowed values are aks, eks, gke, openshift, tkg, tkgi, k8s
# aks = Azure Kubernetes Service
# gke = Google kubernetes Engine
# openshift = RedHat Openshift/OCP
# tkg = VMware Tanzu kubernetes Grid
# tkgi = VMware Tanzu kubernetes Grid Integrated Edition
# k8s = Plain/on-prem Vanilla Kubernetes
# rancher = Rancher Kubernetes Platform
# gs = GaintSwarm platform
# k3s = k3s kubernetes platform
platform: ""

# Enter the enforcer token in "clear-text" format without quotes generated from the Console UI
enforcerToken: enforcer-token

enforcerTokenSecretName: null
enforcerTokenSecretKey: null

logicalName:
nodeName:

securityContext:
  privileged: false
  capabilities:
    add:
      - SYS_ADMIN
      - NET_ADMIN
      - NET_RAW
      - SYS_PTRACE
      - KILL
      - MKNOD
      - SETGID
      - SETUID
      - SYS_MODULE
      - AUDIT_CONTROL
      - SYSLOG
      - SYS_CHROOT
      - SYS_RESOURCE
      - IPC_LOCK

hostRunPath: # pks - /var/vcap/sys/run/docker

multiple_gateway: # enable this to connect enforcer with multiple gateways
  enabled: false

gate:
  host: aqua-gateway-svc # for envoy deployment use host for aqua-lb and port 443
  port: 8443

multi_gates:  # use the below hosts to add multiple gateways as required to enforcer. Format is <hostname>:<port_number>
- aqua-gateway1-svc:8443 #example gateway 1
- aqua-gateway2-svc:8443 #example gateway 2


image:
  repository: enforcer
  tag: "6.5"
  pullPolicy: Always

restartPolicy: Always

healthMonitor:
  enabled: "true"

livenessProbe:
  httpGet:
    path: /healthz
    port: 8096
  initialDelaySeconds: 60
  periodSeconds: 30
readinessProbe:
  httpGet:
    path: /readinessz
    port: 8096
  initialDelaySeconds: 60
  periodSeconds: 30
resources: {}
  # Note: For recommendations please check the official sizing guide.
  # requests:
  #   cpu: 350m
  #   memory: 0.512Gi
  # limits:
  #   cpu: 1500m
  #   memory: 1.5Gi
nodeSelector: {}
tolerations: []
podAnnotations: {}
affinity: {}
#  my-annotation-key: my value; more value

dnsPolicy: "ClusterFirst"
hostPID: "true"
schedulerName: "default-scheduler"
terminationGracePeriodSeconds: "30"

TLS:
  enabled: false
  secretName: ""              # provide certificates secret name created to enable tls/mtls communication between enforcer and gateway/envoy
  publicKey_fileName: ""      #provide filename of the public key eg: aqua_enforcer.crt
  privateKey_fileName: ""     #provide filename of the private key eg: aqua_enforcer.key
  rootCA_fileName: ""         #provide filename of the rootCA, if using self-signed certificates eg: rootCA.crt
  tls_verify: false           # change it to true for enabling mTLS between enforcer and gateway/envoy

# extraEnvironmentVars is a list of extra environment variables to set in the enforcer daemonset.
# https://docs.aquasec.com/docs/enforcer-optional-variables
extraEnvironmentVars: {}
#  ENV_NAME: value

# extraSecretEnvironmentVars is a list of extra environment variables to set in the enforcer daemonset.
# These variables take value from existing Secret objects.
extraSecretEnvironmentVars: []
  # - envName: ENV_NAME
  #   secretName: name
  #   secretKey: key
