imageCredentials:
  create: false
  name: aqua-registry-secret # When create is false please specify
  repositoryUriPrefix: "registry.aquasec.com" # for dockerhub - "docker.io"
  registry: "registry.aquasec.com" #REQUIRED only if create is true, for dockerhub - "index.docker.io/v1/"
  username: ""
  password: ""

enforcerToken: ""

enforcerTokenSecretName: null
enforcerTokenSecretKey: null
enforcerLogicalName: 

securityContext:
  privileged: true
  # Note: enforcer deployment in non privileged mode https://docs.aquasec.com/docs/enforcer-deployment-in-non-privileged-mode#kubernetes-deployments
  # privileged: false
  # capabilities:
  #   add:
  #     - SYS_ADMIN
  #     - NET_ADMIN
  #     - NET_RAW
  #     - SYS_PTRACE
  #     - KILL
  #     - MKNOD
  #     - SETGID
  #     - SETUID
  #     - SYS_MODULE
  #     - AUDIT_CONTROL
  #     - SYSLOG
  #     - SYS_CHROOT

hostRunPath: # pks - /var/vcap/sys/run/docker

gate:
  host: aqua-gateway-svc # example
  port: 8443

image:
  repository: enforcer
  tag: "5.0"
  pullPolicy: IfNotPresent

livenessProbe: {}
readinessProbe: {}
resources: {}
  # Note: For recommendations please check the official sizing guide.
  # limits:
  #   cpu: 800m
  #   memory: 2G
  # requests:
  #   cpu: 500m
  #   memory: 1.5G
nodeSelector: {}
tolerations: []

# extraEnvironmentVars is a list of extra enviroment variables to set in the enforcer daemonset.
# https://docs.aquasec.com/docs/enforcer-optional-variables
extraEnvironmentVars: {}
  # ENV_NAME: value

# extraSecretEnvironmentVars is a list of extra enviroment variables to set in the enforcer daemonset.
# These variables take value from existing Secret objects.
extraSecretEnvironmentVars: []
  # - envName: ENV_NAME
  #   secretName: name
  #   secretKey: key
