repositoryUriPrefix: "registry.aquasec.com" # for dockerhub - "docker.io"

dockerSock:
  mount: # put true for mount docker socket.
  path: /var/run/docker.sock # pks - /var/vcap/data/sys/run/docker/docker.sock

serviceAccount: "aqua-sa"
server:
  serviceName: "aqua-console-svc" # example
  port: 8080

image:
  repository: scanner
  tag: "6.0.preview9"
  pullPolicy: IfNotPresent

logLevel:

user:
password:
replicaCount: 1
livenessProbe: {}
readinessProbe: {}
resources: {}
  # Note: For recommendations please check the official sizing guide.
  # requests:
  #   cpu: 500m
  #   memory: 1Gi
  # limits:
  #   cpu: 3000m
  #   memory: 5Gi
nodeSelector: {}
tolerations: []
affinity: {}
securityContext: {}
#  runAsUser: 11431
#  runAsGroup: 11433
#  fsGroup: 11433

# extraEnvironmentVars is a list of extra enviroment variables to set in the scanner deployments.
# https://docs.aquasec.com/docs/scanner-optional-variables
extraEnvironmentVars: {}
  # ENV_NAME: value

# extraSecretEnvironmentVars is a list of extra enviroment variables to set in the scanner deployments.
# These variables take value from existing Secret objects.
extraSecretEnvironmentVars: []
  # - envName: ENV_NAME
  #   secretName: name
  #   secretKey: key
