{{- if not .Values.global.db.external.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-database
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-database
    aqua.component: database
{{ include "aqua.labels" . | indent 4 }}
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}-database
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/db-configmap.yaml") . | sha256sum }}
      {{- if and (.Values.global.db.tolerations) (semverCompare "<1.6-0" .Capabilities.KubeVersion.GitVersion) }}
        scheduler.alpha.kubernetes.io/tolerations: '{{ toJson .Values.global.db.tolerations }}'
      {{- end }}
      {{- with .Values.global.db.podAnnotations }}
      {{- range $key,$value := . }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
      {{- end }}
      labels:
        app: {{ .Release.Name }}-database
        aqua.component: database
        {{- range $key, $value := .Values.global.db.podLabels }}
        {{- printf "%s: %s" $key (tpl $value $ | quote) | nindent 8 }}
        {{- end }}
{{ include "aqua.template-labels" . | indent 8 }}
      name: {{ .Release.Name }}-database
    spec:
      {{- with .Values.global.db.securityContext }}
      securityContext:
{{ toYaml . | indent 8 }}
      {{- end }}
      serviceAccount: {{ template "server.serviceAccount" . }}
      initContainers:
      - name: {{ .Release.Name }}-db-init
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-initdb-config
        env:
        {{- if .Values.global.db.passwordFromSecret.enabled }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.global.db.passwordFromSecret.global.dbPasswordName }}
              key: {{ .Values.global.db.passwordFromSecret.global.dbPasswordKey }}
        {{- else }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-database-password
              key: db-password
        {{- end }}
        image: "{{ .Values.imageCredentials.repositoryUriPrefix }}/{{ .Values.global.db.image.repository }}:{{ .Values.global.db.image.tag }}"
        command: [ "sh", "-c", "[ -f $PGDATA/server.key ] && chmod 600 $PGDATA/server.key || echo 'OK' " ]
        volumeMounts:
        {{- if .Values.global.db.persistence.database.enabled }}
        - mountPath: /var/lib/postgresql/data
          name: postgres-database
        {{- end }}
      containers:
      - name: db
        {{- with .Values.global.db.container_securityContext }}
        securityContext:
{{ toYaml . | indent 10 }}
        {{- end }}
        image: "{{ .Values.imageCredentials.repositoryUriPrefix }}/{{ .Values.global.db.image.repository }}:{{ .Values.global.db.image.tag }}"
        imagePullPolicy: "{{ .Values.global.db.image.pullPolicy }}"
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-db-config
        env:
        {{- if .Values.global.db.passwordFromSecret.enabled }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.global.db.passwordFromSecret.global.dbPasswordName }}
              key: {{ .Values.global.db.passwordFromSecret.global.dbPasswordKey }}
        {{- else }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-database-password
              key: db-password
        {{- end }}
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        {{- include "server.extraEnvironmentVars" .Values.global.db | nindent 8 }}
        {{- include "server.extraSecretEnvironmentVars" .Values.global.db | nindent 8 }}
        volumeMounts:
        {{- if .Values.global.db.persistence.database.enabled }}
        - mountPath: /var/lib/postgresql/data
          name: postgres-database
        {{- end }}
        ports:
        - containerPort: 5432
          protocol: TCP
{{- with .Values.global.db.livenessProbe }}
        livenessProbe:
{{ toYaml . | indent 10 }}
{{- end }}
{{- with .Values.global.db.readinessProbe }}
        readinessProbe:
{{ toYaml . | indent 10 }}
{{- end }}
        resources:
{{ toYaml .Values.global.db.resources | indent 10 }}
      {{- with .Values.global.db.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
      {{- end }}
      {{- with .Values.global.db.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
      {{- end }}
      {{- if and (.Values.global.db.tolerations) (semverCompare "^1.6-0" .Capabilities.KubeVersion.GitVersion) }}
      tolerations:
{{ toYaml .Values.global.db.tolerations | indent 6 }}
      {{- end }}
      volumes:
      {{- if .Values.global.db.persistence.database.enabled }}
      - name: postgres-database
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-database-pvc
      {{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-audit-database
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-audit-database
    aqua.component: database-audit
{{ include "aqua.labels" . | indent 4 }}
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}-audit-database
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/db-configmap.yaml") . | sha256sum }}
      {{- if and (.Values.global.db.tolerations) (semverCompare "<1.6-0" .Capabilities.KubeVersion.GitVersion) }}
        scheduler.alpha.kubernetes.io/tolerations: '{{ toJson .Values.global.db.tolerations }}'
      {{- end }}
      {{- with .Values.global.db.podAnnotations }}
      {{- range $key,$value := . }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
      {{- end }}
      labels:
        app: {{ .Release.Name }}-audit-database
        aqua.component: database-audit
        {{- range $key, $value := .Values.global.db.podLabels }}
        {{- printf "%s: %s" $key (tpl $value $ | quote) | nindent 8 }}
        {{- end }}
{{ include "aqua.template-labels" . | indent 8 }}
      name: {{ .Release.Name }}-audit-database
    spec:
      {{- with .Values.global.db.securityContext }}
      securityContext:
{{ toYaml . | indent 8 }}
      {{- end }}
      serviceAccount: {{ template "server.serviceAccount" . }}
      initContainers:
      - name: {{ .Release.Name }}-auditdb-init
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-initdb-config
        env:
        {{- if .Values.global.db.passwordFromSecret.enabled }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.global.db.passwordFromSecret.global.dbAuditPasswordName }}
              key: {{ .Values.global.db.passwordFromSecret.global.dbAuditPasswordKey }}
        {{- else }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-database-password
              key: audit-password
        {{- end }}
        image: "{{ .Values.imageCredentials.repositoryUriPrefix }}/{{ .Values.global.db.image.repository }}:{{ .Values.global.db.image.tag }}"
        command: [ "sh", "-c", "[ -f $PGDATA/server.key ] && chmod 600 $PGDATA/server.key || echo 'OK' " ]
        volumeMounts:
        {{- if .Values.global.db.persistence.audit_database.enabled }}
        - mountPath: /var/lib/postgresql/data
          name: postgres-audit-database
        {{- end }}
      containers:
      - name: auditdb
        {{- with .Values.global.db.container_securityContext }}
        securityContext:
{{ toYaml . | indent 10 }}
        {{- end }}
        image: "{{ .Values.imageCredentials.repositoryUriPrefix }}/{{ .Values.global.db.image.repository }}:{{ .Values.global.db.image.tag }}"
        imagePullPolicy: "{{ .Values.global.db.image.pullPolicy }}"
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-db-config
        env:
        {{- if .Values.global.db.passwordFromSecret.enabled }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.global.db.passwordFromSecret.global.dbAuditPasswordName }}
              key: {{ .Values.global.db.passwordFromSecret.global.dbAuditPasswordKey }}
        {{- else }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-database-password
              key: audit-password
        {{- end }}
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        {{- include "server.extraEnvironmentVars" .Values.global.db | nindent 8 }}
        {{- include "server.extraSecretEnvironmentVars" .Values.global.db | nindent 8 }}
        volumeMounts:
        {{- if .Values.global.db.persistence.audit_database.enabled }}
        - mountPath: /var/lib/postgresql/data
          name: postgres-audit-database
        {{- end }}
        ports:
        - containerPort: 5432
          protocol: TCP
{{- with .Values.global.db.livenessProbe }}
        livenessProbe:
{{ toYaml . | indent 10 }}
{{- end }}
{{- with .Values.global.db.readinessProbe }}
        readinessProbe:
{{ toYaml . | indent 10 }}
{{- end }}
        resources:
{{ toYaml .Values.global.db.resources | indent 10 }}
      {{- with .Values.global.db.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
      {{- end }}
      {{- with .Values.global.db.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
      {{- end }}
      {{- if and (.Values.global.db.tolerations) (semverCompare "^1.6-0" .Capabilities.KubeVersion.GitVersion) }}
      tolerations:
{{ toYaml .Values.global.db.tolerations | indent 6 }}
      {{- end }}
      volumes:
      {{- if .Values.global.db.persistence.audit_database.enabled }}
      - name: postgres-audit-database
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-audit-database-pvc
      {{- end }}
{{- end }}
