# Specifies the secret data for imagePullSecrets needed to fetch the private docker images
imageCredentials:
  create: true
  name: csp-registry-secret # example
  repositoryUriPrefix: "registry.aquasec.com" # for dockerhub - "docker.io"
  registry: "registry.aquasec.com" #REQUIRED only if create is true, for dockerhub - "index.docker.io/v1/"
  username: ""
  password: ""

rbac:
  enabled: true
  privileged: true
  roleRef:

# enable only one of the modes
clustermode: false
activeactive: false

admin:
  token:
  password:
  secretname: null
  tokenkey: null
  passwordkey: null

docker:
  socket:
    path: /var/run/docker.sock # pks - /var/vcap/data/sys/run/docker/docker.sock

dockerless:

db:
  external:
    enabled: false
    name:
    host:
    port:
    user:
    password:
    auditName:
    auditHost:
    auditPort:
    auditUser:
    auditPassword:
    pubsubName:
    pubsubHost:
    pubsubPort:
    pubsubUser:
    pubsubPassword:
  passwordSecret: null
  dbPasswordName: null
  dbPasswordKey: null
  dbAuditPasswordName: null
  dbAuditPasswordKey: null
  dbPubsubPasswordName: null
  dbPubsubPasswordKey: null
  ssl: false
  auditssl: false
  image:
    repository: database
    tag: "5.0"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
  persistence:
    enabled: true
    storageClass:
    size: 30Gi
    accessMode: ReadWriteOnce
  livenessProbe:
    exec:
      command:
      - sh
      - -c
      - exec pg_isready --host $POD_IP
    initialDelaySeconds: 60
    timeoutSeconds: 5
    failureThreshold: 6
  readinessProbe:
    exec:
      command:
      - sh
      - -c
      - exec pg_isready --host $POD_IP
    initialDelaySeconds: 5
    timeoutSeconds: 3
    periodSeconds: 5
  resources: {}
    # Note: For recommendations please check the official sizing guide.
    # requests:
    #   cpu: 0.1
    #   memory: 0.2Gi
    # limits:
    #   cpu: 1
    #   memory: 2Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}

gate:
  image:
    repository: gateway
    tag: "5.0"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    externalPort: 3622
    nodePort:
  grpcservice:
    type: ClusterIP
    externalPort: 8443
    nodePort:
  publicIP: aqua-gateway
  replicaCount: 1
  livenessProbe: {}
  readinessProbe: {}
  resources: {}
    # Note: For recommendations please check the official sizing guide.
    # requests:
    #   cpu: 0.1
    #   memory: 0.2Gi
    # limits:
    #   cpu: 1
    #   memory: 2Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}

web:
  image:
    repository: console
    tag: "5.0"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    externalPort: 8080
    nodePort:
  grpcService:
    type: ClusterIP
    externalPort: 443
    nodePort:
  encryptionKey:
  ingress:
    enabled: false
    annotations: {}
    #  kubernetes.io/ingress.class: nginx
    hosts: #REQUIRED
    #- aquasec-test.example.com
    tls: []
    #  - secretName: aquasec-tls
    #    hosts:
    #      - aquasec.domain.com
  replicaCount: 1
  livenessProbe: {}
  readinessProbe: {}
  persistence:
    enabled: true
    storageClass:
    size: 4
    accessMode: ReadWriteOnce
  resources: {}
    # Note: For recommendations please check the official sizing guide.
    # requests:
    #   cpu: 0.1
    #   memory: 0.2Gi
    # limits:
    #   cpu: 1
    #   memory: 2Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  proxy:
    httpProxy:
    httpsProxy:
    noProxy:

scanner:
  enabled: false
  image:
    repository: scanner
    tag: "5.0"
    pullPolicy: IfNotPresent
  user:
  password:
  replicaCount: 1
  livenessProbe: {}
  readinessProbe: {}
  resources: {}
  # Note: For recommendations please check the official sizing guide.
  # requests:
  #   cpu: 0.1
  #   memory: 0.2Gi
  # limits:
  #   cpu: 1
  #   memory: 2Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
