---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-gateway-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-gateway
    aqua.component: gateway
{{ include "aqua.labels" . | indent 4 }}
data:
  SCALOCK_LOG_LEVEL: {{ .Values.logLevel | default "INFO" }}
  AQUA_CONSOLE_SECURE_ADDRESS: {{ include "aquaConsoleSecureAddress" . }}
  SCALOCK_GATEWAY_PUBLIC_IP: {{ .Values.publicIP | default (printf "%s-gateway-svc" .Release.Name) }}
  HEALTH_MONITOR: "0.0.0.0:8082"
  SCALOCK_DBUSER: {{ .Values.global.db.external.enabled | ternary .Values.global.db.external.user "postgres" }}
  SCALOCK_DBNAME: {{ .Values.global.db.external.enabled | ternary .Values.global.db.external.name "scalock" }}
  {{- if .Values.global.db.external.enabled }}
  SCALOCK_DBHOST: {{ .Values.global.db.external.host }}
  {{- else }}
  SCALOCK_DBHOST: {{ .Release.Name }}-database-svc
  {{- end }}
  SCALOCK_DBPORT: {{ .Values.global.db.external.enabled | ternary .Values.global.db.external.port "5432" | quote }}
  SCALOCK_AUDIT_DBUSER: {{ .Values.global.db.external.enabled | ternary .Values.global.db.external.auditUser "postgres" }}
  SCALOCK_AUDIT_DBNAME: {{ .Values.global.db.external.enabled | ternary .Values.global.db.external.auditName "slk_audit" }}
  {{- if .Values.global.db.external.enabled }}
  SCALOCK_AUDIT_DBHOST: {{ .Values.global.db.external.auditHost }}
  {{- else }}
  SCALOCK_AUDIT_DBHOST: {{ .Release.Name }}-audit-database-svc
  {{- end }}
  SCALOCK_AUDIT_DBPORT: {{ .Values.global.db.external.enabled | ternary .Values.global.db.external.auditPort "5432" | quote }}
  {{- if .Values.activeactive }}
  AQUA_PUBSUB_DBUSER: {{ .Values.global.db.external.enabled | ternary .Values.global.db.external.pubsubUser "postgres" }}
  AQUA_PUBSUB_DBNAME: {{ .Values.global.db.external.enabled | ternary .Values.global.db.external.pubsubName "aqua_pubsub" }}
  {{- if .Values.global.db.external.enabled }}
  AQUA_PUBSUB_DBHOST: {{ .Values.global.db.external.pubsubHost }}
  {{- else }}
  AQUA_PUBSUB_DBHOST: {{ .Release.Name }}-database-svc
  {{- end }}
  AQUA_PUBSUB_DBPORT: {{ .Values.global.db.external.enabled | ternary .Values.global.db.external.pubsubPort "5432" | quote }}
  {{- end }}
  {{- if .Values.global.db.ssl }}
  SCALOCK_DBSSL: {{ .Values.global.db.sslmode }}
  {{- end }}
  {{- if .Values.global.db.auditssl }}
  SCALOCK_AUDIT_DBSSL: {{ .Values.global.db.auditsslmode }}
  {{- end }}
  {{- if .Values.global.db.pubsubssl }}
  AQUA_PUBSUB_DBSSL: {{ .Values.global.db.pubsubsslmode }}
  {{- end }}
  {{- if .Values.TLS.enabled }}
  AQUA_PRIVATE_KEY: "/opt/aquasec/ssl/key.pem"
  AQUA_PUBLIC_KEY: "/opt/aquasec/ssl/cert.pem"
  {{- if .Values.TLS.rootCA_fileName }}
  AQUA_ROOT_CA: "/opt/aquasec/ssl/ca.pem"
  {{- end }}
  AQUA_VERIFY_ENFORCER: {{ .Values.TLS.aqua_verify_enforcer | quote}}
  {{- end }}
