{{ if .Values.remediation.enabled }}
{{- $v := .Values.remediation }}
{{- $name := printf "%s-%s" (include "chart.fullname" . ) "remediation" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $name }}
  labels:
    app.kubernetes.io/name: {{ $name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: {{ .Values.remediation.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ $name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ $name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
{{ include "common.podLabels" . | indent 8 }}
    spec:
      {{- with .Values.connect.hostAliases }}
      hostAliases:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ $name }}
          image: {{ $v.image }}
          imagePullPolicy: {{ $v.pullPolicy }}
          env:
          - name: SCANNER_SERVER
            value: {{ .Values.global.scanServerUrl }}
          - name: CSPM_SERVER_URL
            value: {{ .Values.global.cspmServerUrl }}
          - name: AQUA_SERVER_URL
            value: {{ .Values.global.aquaServerUrl }}
          - name: PORT
            value: {{ $v.port | quote }}
          - name: SOURCE
            value: {{ .Values.integration.source }}
          - name: SCM_URL
            value: {{ .Values.integration.url }}
          {{- if .Values.global.brokerToken }}
          - name: BROKER_TOKEN
            value: {{ .Values.global.brokerToken }}
          {{- end }}
          {{- if .Values.global.customApiUrl }}
          - name: CUSTOM_API_URL
            value: {{ .Values.global.customApiUrl }}
          {{- end }}
          {{- if .Values.global.githubClientId }}
          - name: GITHUB_CLIENT_ID
            value: {{ .Values.global.githubClientId | quote }}
          {{- end }}
          {{- if .Values.global.githubAppId }}
          - name: GITHUB_APP_ID
            value: {{ .Values.global.githubAppId | quote }}
          {{- end }}
          {{- if .Values.global.githubSecret }}
          - name: GITHUB_SECRET
            value: {{ .Values.global.githubSecret | quote }}
          {{- end }}
          {{- if .Values.global.githubAppId }}
          - name: GITHUB_CERT_PATH
            value: /home/node/github-app.pem
          {{- end }}
          {{- if .Values.global.githubInstallationId }}
          - name: GITHUB_INSTALLATION_ID
            value: {{ .Values.global.githubInstallationId | quote }}
          {{- end }}

          {{- if .Values.ssl.enabled }}
          {{- if .Values.ssl.ca }}
          - name: CA_CERT # Path to file
            value: /home/node/ca.pem
          {{- end }}
          {{- if .Values.ssl.cert }}
          - name: HTTPS_CERT # Path to file
            value: /home/node/cert.pem
          {{- end }}
          {{- if .Values.ssl.key }}
          - name: HTTPS_KEY # Path to file
            value: /home/node/key.pem
          {{- end }}
          {{- end }}

          {{- range $key, $value := .Values.proxy }}
          - name: {{ $key }}
            value: {{ $value }}
          {{- end }}

          {{- range $key, $value := .Values.remediation.extraEnv }}
          - name: {{ $key }}
            value: "{{ $value }}"
          {{- end }}
          envFrom:
            - secretRef:
                name: {{ template "secretName" . }}

          resources:
            {{- toYaml $v.resources | nindent 12 }}

          {{- if or .Values.ssl.enabled (and .Values.github .Values.github.cert) }}
          volumeMounts:
            - name: ssl-secrets
              mountPath: "/home/node"
          {{- end }}
          {{- if or .Values.ssl.enabled (and .Values.github .Values.github.cert) }}
      volumes:
        - name: ssl-secrets
          secret:
            secretName: {{ template "secretName" . }}
            items:
              {{- if .Values.ssl.ca }}
              - key: ssl-ca-certificate
                path: ca.pem
              {{- end }}
              {{- if .Values.ssl.cert }}
              - key: ssl-certificate
                path: cert.pem
              {{- end }}
              {{- if .Values.ssl.key }}
              - key: ssl-key
                path: key.pem
              {{- end }}
              {{- if and .Values.github .Values.github.cert }}
              - key: github-certificate
                path: github-app.pem
              {{- end }}
      {{- end }}
    {{- with $v.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with $v.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with $v.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- end }}
