# Specifies the secret data for imagePullSecrets needed to fetch the private docker images
imageCredentials:
  # If aqua-registry already exists in the cluster. Make create to false. So it won't attempt to create a new registry secret. 
  create: true
  name: aqua-registry-secret # example
  repositoryUriPrefix: "registry.aquasec.com" # for dockerhub - "docker.io"
  registry: "registry.aquasec.com" #REQUIRED only if create is true, for dockerhub - "index.docker.io/v1/"
  username: ""
  password: ""
  email: "example@gmail.com"

managed: false
environment: aws # aws, acs, onprem

aqua_enable_cache: yes
aqua_cache_expiration_period: 60

image:
  repository: kube-enforcer
  tag: "6.0"
  pullPolicy: Always

nameOverride: "aqua-kube-enforcer"
fullnameOverride: "aqua-kube-enforcer"

namespace: "aqua"

logLevel: ""

# Set create to false if you want to use an existing secret for the kube-enforcer certs
certsSecret:
  create: true
  name: aqua-kube-enforcer-certs # If you're using existing certs change the name to existing secret name
  serverCertificate: ""
  serverKey: ""

aquaSecret:
  name: aqua-kube-enforcer-token
# Enter the enforcer token in "clear-text" format without quotes generated from the Console UI
  kubeEnforcerToken:

envs:
  gatewayAddress: aqua-gateway-svc.aqua:8443 


serviceAccount:
  name: aqua-kube-enforcer-sa

clusterRole:
  name: aqua-kube-enforcer

clusterRoleBinding:
  name: aqua-kube-enforcer  

role:
  name: aqua-kube-enforcer

roleBinding:
  name: aqua-kube-enforcer 

webhooks:
  caBundle: ""
  failurePolicy: Ignore
  validatingWebhook:
    name: kube-enforcer-admission-hook-config
  mutatingWebhook:
    name: kube-enforcer-me-injection-hook-config

securityContext:
  runAsUser: 11431
  runAsGroup: 11433
  fsGroup: 11433
container_securityContext: {}

livenessProbe:
  tcpSocket:
    port: 8080
  initialDelaySeconds: 60
  periodSeconds: 30

readinessProbe:
  tcpSocket:
    port: 8080
  initialDelaySeconds: 60
  periodSeconds: 30

resources: {}
  # Note: For recommendations please check the official sizing guide.
  # requests:
  #   cpu: 250m
  #   memory: 0.2Gi
  # limits:
  #   cpu: 500m
  #   memory: 1.5Gi


##Kube Enforcer advance deployment options
kubeEnforcerAdvance:
  enable: false
  clusterName: ""
  clusterID: ""

  envoy:
    image:
      repository: envoyproxy/envoy-alpine
      tag: v1.15.1
      pullPolicy: IfNotPresent

    readinessProbe:
      exec:
        command:
        - cat
        - /etc/aquasec/envoy/configured
      initialDelaySeconds: 30
      periodSeconds: 10

    livenessProbe: {}
    resources: {}

    files:
      envoy.yaml: |-
        node:
          cluster: {{ .Values.kubeEnforcerAdvance.clusterName | default "k8s" }}
          id: {{ .Values.kubeEnforcerAdvance.clusterID }}

        dynamic_resources:
          cds_config:
            path: /etc/aquasec/envoy/cds.yaml
            initial_fetch_timeout: 0s
          lds_config:
            path: /etc/envoy/lds.yaml
      lds.yaml: |-
        resources:
          - "@type": type.googleapis.com/envoy.config.listener.v3.Listener
            name: listener_0
            address:
              socket_address:
                address: 0.0.0.0
                port_value: 8443
            filter_chains:
              - filters:
                  - name: envoy.filters.network.http_connection_manager
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                      stream_idle_timeout: 0s
                      drain_timeout: 20s
                      access_log:
                        - name: envoy.access_loggers.file
                          typed_config:
                            "@type": type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog
                            path: "/dev/stdout"
                      codec_type: AUTO
                      stat_prefix: ingress_https
                      route_config:
                        name: local_route
                        virtual_hosts:
                          - name: https
                            domains:
                              - "*"
                            routes:
                              - match:
                                  prefix: "/agent_grpc_channel.GWChannelV2/PushNotificationHandler"
                                  grpc: { }
                                route:
                                  cluster: aqua-kube-enforcer
                                  timeout: 0s
                              - match:
                                  prefix: "/"
                                  grpc: { }
                                route:
                                  cluster: aqua-gateway
                                  timeout: 0s
                              - match:
                                  prefix: "/"
                                route:
                                  cluster: aqua-kube-enforcer-k8s
                                  timeout: 0s

                      http_filters:
                        - name: envoy.filters.http.health_check
                          typed_config:
                            "@type": type.googleapis.com/envoy.config.filter.http.health_check.v2.HealthCheck
                            pass_through_mode: false
                            headers:
                              - name: ":path"
                                exact_match: "/healthz"
                              - name: "x-envoy-livenessprobe"
                                exact_match: "healthz"
                        - name: envoy.filters.http.router
                          typed_config: { }
                transport_socket:
                  name: envoy.transport_sockets.tls
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
                    common_tls_context:
                      alpn_protocols: "h2,http/1.1"
                      tls_certificates:
                        - certificate_chain:
                            filename: "/etc/ssl/envoy/server.crt"
                          private_key:
                            filename: "/etc/ssl/envoy/server.key"
      cds.yaml: |-
        resources:
        - "@type": type.googleapis.com/envoy.config.cluster.v3.Cluster
          name: aqua-kube-enforcer
          connect_timeout: 180s
          type: STRICT_DNS
          dns_lookup_family: V4_ONLY
          lb_policy: ROUND_ROBIN
          http2_protocol_options:
            hpack_table_size: 4294967
            max_concurrent_streams: 2147483647
          circuit_breakers:
            thresholds:
              max_pending_requests: 2147483647
              max_requests: 2147483647
          load_assignment:
            cluster_name: aqua-kube-enforcer
            endpoints:
              - lb_endpoints:
                - endpoint:
                    address:
                      socket_address:
                        address: localhost
                        port_value: 8442
          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
              sni: aqua-kube-enforcer
        - "@type": type.googleapis.com/envoy.config.cluster.v3.Cluster
          name: aqua-kube-enforcer-k8s
          connect_timeout: 180s
          type: STRICT_DNS
          dns_lookup_family: V4_ONLY
          lb_policy: ROUND_ROBIN
          circuit_breakers:
            thresholds:
              max_pending_requests: 2147483647
              max_requests: 2147483647
          load_assignment:
            cluster_name: aqua-kube-enforcer-k8s
            endpoints:
              - lb_endpoints:
                - endpoint:
                    address:
                      socket_address:
                        address: localhost
                        port_value: 8449
          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
              sni: aqua-kube-enforcer-k8s
        - "@type": type.googleapis.com/envoy.config.cluster.v3.Cluster
          name: aqua-gateway
          connect_timeout: 180s
          type: STRICT_DNS
          dns_lookup_family: V4_ONLY
          lb_policy: ROUND_ROBIN
          http2_protocol_options:
            hpack_table_size: 4294967
            max_concurrent_streams: 2147483647
          circuit_breakers:
            thresholds:
              max_pending_requests: 2147483647
              max_requests: 2147483647
          load_assignment:
            cluster_name: aqua-gateway
            endpoints:
              - lb_endpoints:
                - endpoint:
                    address:
                      socket_address:
                        address: aqua-gateway.aqua
                        port_value: 8443
          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
              sni: aqua-gateway
      validation_context_sds_secret.yaml: |-
        resources:
          - "@type": "type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret"
            name: "validation_context_sds"
            validation_context:
              trusted_ca:
                filename: /etc/aquasec/envoy/ca-certificates.crt
